@import "tailwindcss";

:root {
  --bg: #000000;
  --fg: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 120%;
}

body {
  font-size: 1.1rem;
}
